In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snowfall (inches)
0,0,Atuona,PF,-9.80,-139.03,79.74,79,61,18.59,broken clouds,0.0,0
1,1,Upernavik,GL,72.79,-56.15,41.61,85,100,15.82,overcast clouds,0.0,0
2,2,The Valley,AI,18.22,-63.06,82.99,74,20,9.17,few clouds,0.0,0
3,3,Fairbanks,US,64.84,-147.72,69.80,28,1,5.82,clear sky,0.0,0
4,4,Tuatapere,NZ,-46.13,167.68,51.35,71,15,7.92,few clouds,0.0,0

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Rain (inches)          float64
Snowfall (inches)        int64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Ask the customer to prefernces.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
active_rain = str(input("Do you want it to be raining? (yes/no) "))
active_snow = str(input("Do you want it to be snowing? (yes/no) "))

What is the minimum temperature you would like for your trip? 76
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [6]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain (inches)"] > 0 if active_rain == "yes" else city_data_df["Rain (inches)"] == 0) &
                                       (city_data_df["Snowfall (inches)"] > 0 if active_snow == "yes" else city_data_df["Snowfall (inches)"] == 0)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snowfall (inches)
0,0,Atuona,PF,-9.80,-139.03,79.74,79,61,18.59,broken clouds,0.0,0
2,2,The Valley,AI,18.22,-63.06,82.99,74,20,9.17,few clouds,0.0,0
10,10,Gizo,SB,-8.10,156.84,83.75,74,100,9.73,overcast clouds,0.0,0
22,22,Zhuanghe,CN,39.70,122.99,77.72,65,0,8.97,clear sky,0.0,0
36,36,La Fria,VE,8.22,-72.24,86.00,42,75,11.41,broken clouds,0.0,0
41,41,Katsuura,JP,35.13,140.30,84.00,94,75,17.22,light intensity shower rain,0.0,0
42,42,Paciran,ID,-6.88,112.38,78.24,80,77,6.85,broken clouds,0.0,0
44,44,Tessalit,ML,20.20,1.01,85.44,40,81,4.56,broken clouds,0.0,0
45,45,Suba,PH,10.84,121.01,84.72,66,100,3.27,overcast clouds,0.0,0
46,46,Kapaa,US,22.08,-159.32,84.20,70,90,16.11,overcast clouds,0.0,0

In [7]:
preferred_cities_df.count()

City_ID                159
City                   159
Country                159
Lat                    159
Lng                    159
Max Temp               159
Humidity               159
Cloudiness             159
Wind Speed             159
Current Description    159
Rain (inches)          159
Snowfall (inches)      159
dtype: int64

In [8]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Current Description", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,broken clouds,79.74,-9.80,-139.03,
2,The Valley,AI,few clouds,82.99,18.22,-63.06,
10,Gizo,SB,overcast clouds,83.75,-8.10,156.84,
22,Zhuanghe,CN,clear sky,77.72,39.70,122.99,
36,La Fria,VE,broken clouds,86.00,8.22,-72.24,
41,Katsuura,JP,light intensity shower rain,84.00,35.13,140.30,
42,Paciran,ID,broken clouds,78.24,-6.88,112.38,
44,Tessalit,ML,broken clouds,85.44,20.20,1.01,
45,Suba,PH,overcast clouds,84.72,10.84,121.01,
46,Kapaa,US,overcast clouds,84.20,22.08,-159.32,

In [9]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Current Description","Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,broken clouds,79.74,-9.80,-139.03,
2,The Valley,AI,few clouds,82.99,18.22,-63.06,
10,Gizo,SB,overcast clouds,83.75,-8.10,156.84,
22,Zhuanghe,CN,clear sky,77.72,39.70,122.99,
36,La Fria,VE,broken clouds,86.00,8.22,-72.24,
41,Katsuura,JP,light intensity shower rain,84.00,35.13,140.30,
42,Paciran,ID,broken clouds,78.24,-6.88,112.38,
44,Tessalit,ML,broken clouds,85.44,20.20,1.01,
45,Suba,PH,overcast clouds,84.72,10.84,121.01,
46,Kapaa,US,overcast clouds,84.20,22.08,-159.32,

In [10]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.head(10)

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,broken clouds,79.74,-9.80,-139.03,Villa Enata
2,The Valley,AI,few clouds,82.99,18.22,-63.06,CeBlue Villas & Beach Resort
10,Gizo,SB,overcast clouds,83.75,-8.10,156.84,Imagination Island
22,Zhuanghe,CN,clear sky,77.72,39.70,122.99,Hanting Express Dalian Zhuanghe Qiansheng
36,La Fria,VE,broken clouds,86.00,8.22,-72.24,Estacionamiento de los toledos.
41,Katsuura,JP,light intensity shower rain,84.00,35.13,140.30,Katsuura Hotel Mikazuki
42,Paciran,ID,broken clouds,78.24,-6.88,112.38,Tanjung Kodok Beach Resort
44,Tessalit,ML,broken clouds,85.44,20.20,1.01,
45,Suba,PH,overcast clouds,84.72,10.84,121.01,Suba Pensione House
46,Kapaa,US,overcast clouds,84.20,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach

In [12]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# Add a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}, {Max Temp}°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))